.contact {
  padding: var(--section-space) 0;
}

.contact h2 {
  font-size: 2rem;
}

.contact p {
  max-width: 45%;
  margin-bottom: 1rem;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 815px) {
  .contact h2 {
    font-size: 2.2rem;
  }

  .contact p {
    max-width: 70%;
  }
}

@media (max-width: 435px) {
  .contact p {
    max-width: 100%;
  }
}
